@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .border-gradient-blue-cyan:hover {
      border-image: linear-gradient(to bottom right, #4299e1, #48bb78) 1;
      border-radius: 10px;
      transition: all ease-in-out 1s;
    }
  }